* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html{
	margin:0; padding:0;	
}
.container{
	border: 2px solid green;
	margin: auto;
	background-color: rgba(102,153,204, 0.4 );	
}

#secondRow{
	background-color: rgba(102,153,204, 0.4 );
}
#secondRow h1{
	margin-left: auto;
	margin-right: auto;		
	text-align: center;		
}

#thirdRow{
	background-color: rgba(102,153,204, 0.4 );
}
#thirdRow img{	
	height: 50vh; width: 50vh;
	margin-left: auto;
	margin-right: auto;		
	margin-left: 35%;
}
#fourthRow {
	background-color: rgba(102,153,204, 0.4 );
	text-align: center;	
}
#fourthRow h1{
	font-weight: bold;
}

header {
	border-bottom: 1px solid #EEEEEE;
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 20px;
	margin: 0;
	padding: 24px 0;
}

header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
	text-decoration: none
}
header nav a {
	text-decoration: none;
	color: #555555;
	padding: 10px 10px;
	margin: 0 10px;
}
header nav a:hover {
	text-decoration: none !important
	border-bottom: 1px solid #07c600;
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #394352;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 18px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #63748e;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}

.content-wrapper {
	width: 1050px;
	margin: 0 auto;	
}

