* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
	color: #394352;
}

body {
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	margin: 0;
	padding-bottom: 100px; /* Same height as footer */
}

html{
	margin:0; padding:0;	
}
.container-fluid{	
	margin: auto;
	height: 120vh;
}

/*Navbar*/
img.logo{
	border-radius: 50%;
	width:30%; height:100%; 
	margin: auto;	
}

/*Titles*/
#newRow-title h1{
	margin: auto;
}
#newRow-subtitle p{
	margin: auto;
}

/*Carousel*/
#indicators{
	height: 500px;
}
.carousel-item img {
  /*  width: 30%;
    height: 400px;*/
    margin-left: 35%;		

}
.carousel-item p{	
	color: blue; 
	font-weight: bold;
	text-align: center;
} 

/*Tickets*/
#newRow-ticket_subtitle h3{
	margin: auto;			
	font-weight: bold;	
	font-size: 30px;
}
#newRow-ticket_button button{
	margin: auto;
}
#newRow-ticket_button button a{
	color: red;
	padding: 5em;
	font-size: 20px;
	font-weight: bold;	
}
